# ملفات فلاتر ودارت
.dart_tool/
.packages
.pub-cache/
.pub/
build/

# ملفات الأندرويد والآي أو إس
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
.env*
*.log

# ملفات الإعدادات الشخصية للمحرر
.vscode/
.idea/
*.iml
